@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

h1 {
    position: absolute;
  font-size: 10vh;
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #7843a3, 0 0 15px #7843a3, 0 0 20px #7843a3, 0 0 40px #7843a3, 0 0 60px #b962db, 0 0 10px #7843a3, 0 0 98px #7843a3;
    color: #7843a3;
  font-family: "CoreCircus", sans-serif;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}
a{
  text-decoration: none;
}

body {
  padding: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17vh;
  background: rgb(0, 0, 0);
  
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
      text-shadow: 0 0 5px #7843a3, 0 0 15px #7843a3, 0 0 20px #7843a3, 0 0 40px #7843a3, 0 0 60px #b962db, 0 0 10px #7843a3, 0 0 98px #7843a3;
      color: #53326e;
  }
}
#background-video {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 350px;
    bottom: 0;
    z-index: -1;
  }
  .imagen{
      position: absolute;
      width: 50%;
      justify-content: center;
      margin-left: 110vh;
      
      align-items: center;
      margin-top: 120vh;
      height: 100%;
  }
  img{
      height: 50%;
  }
  .texto{
      margin-top: 70vh;
      margin-right: 50%;
      color: antiquewhite;
      font-size: 200%;
  }
  

.wip{
    margin-top: 50%;
    color: #ffff;
}
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

 .loading-text {
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 margin: auto;
	 text-align: center;
	 width: 100%;
	 height: 100px;
	 line-height: 100px;
}
 .loading-text span {
	 display: inline-block;
	 margin: 0 5px;
	 color: #fff;
	 font-family: "CoreCircus", sans-serif;
}
 .loading-text span:nth-child(1) {
	 filter: blur(0px);
	 animation: blur-text 1.5s 0s infinite linear alternate;
}
 .loading-text span:nth-child(2) {
	 filter: blur(0px);
	 animation: blur-text 1.5s 0.2s infinite linear alternate;
}
 .loading-text span:nth-child(3) {
	 filter: blur(0px);
	 animation: blur-text 1.5s 0.4s infinite linear alternate;
}
 .loading-text span:nth-child(4) {
	 filter: blur(0px);
	 animation: blur-text 1.5s 0.6s infinite linear alternate;
}
 .loading-text span:nth-child(5) {
	 filter: blur(0px);
	 animation: blur-text 1.5s 0.8s infinite linear alternate;
}
 .loading-text span:nth-child(6) {
	 filter: blur(0px);
	 animation: blur-text 1.5s 1s infinite linear alternate;
}
 .loading-text span:nth-child(7) {
	 filter: blur(0px);
	 animation: blur-text 1.5s 1.2s infinite linear alternate;
}

.loading-text span:nth-child(8) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.6s infinite linear alternate;
}
.loading-text span:nth-child(9) {
    filter: blur(0px);
    animation: blur-text 1.5s 1.8s infinite linear alternate;
}
.loading-text span:nth-child(10) {
    filter: blur(0px);
    animation: blur-text 1.5s 2s infinite linear alternate;
}
.loading-text span:nth-child(11) {
    filter: blur(0px);
    animation: blur-text 1.5s 2.2s infinite linear alternate;
}
.loading-text span:nth-child(12) {
    filter: blur(0px);
    animation: blur-text 1.5s 2.4s infinite linear alternate;
}
.loading-text span:nth-child(13) {
    filter: blur(0px);
    animation: blur-text 1.5s 2.6s infinite linear alternate;
}
.loading-text span:nth-child(14) {
    filter: blur(0px);
    animation: blur-text 1.5s 2.8s infinite linear alternate;
}
.loading-text span:nth-child(15) {
    filter: blur(0px);
    animation: blur-text 1.5s 3s infinite linear alternate;
}
.loading-text span:nth-child(17) {
    filter: blur(0px);
    animation: blur-text 1.5s 3.2s infinite linear alternate;
}
 @keyframes blur-text {
	 0% {
		 filter: blur(0px);
	}
	 100% {
		 filter: blur(4px);
	}
}
header{
    text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff;
      top: 1%;
      position: absolute;
      left: 0;
      font-family:"CoreCircus", sans-serif;
  }


ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color: transparent;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

.reloj{
  margin-top: 90%;
  margin-left: 75%;
}

.clockdate-wrapper {
  background-color: #333;
  padding:25px;
  max-width:350px;
  width:100%;
  text-align:center;
  border-radius:5px;
  margin:0 auto;
  margin-top:15%;
}
#clock{
  background-color:#333;
  font-family: sans-serif;
  font-size:60px;
  text-shadow:0px 0px 1px #fff;
  color:#fff;
}
#clock span {
  color:#888;
  text-shadow:0px 0px 1px #333;
  font-size:30px;
  position:relative;
  top:-27px;
  left:-10px;
}
#date {
  letter-spacing:10px;
  font-size:14px;
  font-family:arial,sans-serif;
  color:#fff;
}

